{% extends "base.html" %}
{% block content %}
<h1>Admin Dashboard</h1>
<p>List of all registered users</p>

<table>
    <tr>
        <th>User Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Created At</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.created_at }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
