<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    {% if session.get('user_id') %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
    {% else %}
        <a href="{{ url_for('home') }}">Home</a>
    {% endif %}

    {% if session.get('user_id') %}
        <a href="{{ url_for('feeding') }}">Feeding</a>
        <a href="{{ url_for('sleep') }}">Sleep</a>
        <a href="{{ url_for('nappy') }}">Nappy</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('logout') }}">Logout</a>

        {% if session.get('user_email') == admin_email %}
            <a href="{{ url_for('admin') }}">Admin</a>
        {% endif %}

        <span style="color:white; margin-left:20px;">
            Welcome, {{ session.first_name }}!
        </span>

    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('contact') }}">Contact</a>

    {% endif %}
</nav>


<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

</body>
</html>
