<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div style="display:flex; justify-content:space-between; align-items:center; padding:0;">
        
  
        <div style="display:flex; gap:18px; align-items:center;">
            {% if session.get('user_id') %}
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('parent_profile') }}">Your Profile</a>
                <a href="{{ url_for('child_profile') }}">Child Profile</a>
                <a href="{{ url_for('feeding') }}">Feeding</a>
                <a href="{{ url_for('sleep') }}">Sleep</a>
                <a href="{{ url_for('nappy') }}">Nappy</a>
                <a href="{{ url_for('contact') }}">Contact</a>

                {% if session.get('user_email') == admin_email %}
                    <a href="{{ url_for('admin') }}">Admin</a>
                {% endif %}
                
            {% else %}
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('contact') }}">Contact</a>
            {% endif %}

        </div>

        {% if session.get('user_id') %}
        <div style="display:flex; align-items:center; gap:15px;">
            <span style="color:white; font-weight:600;">
                Welcome, {{ session.get('first_name') }}
            </span>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        {% endif %}

    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>
</body>
</html>
