{% extends "base.html" %}
{% block content %}
<h1>Sleep Log</h1>

<form method="POST">

    <label for="start">Start Time</label>
    <input type="datetime-local"
            id="start" 
            name="start"
            min="{{ min_date}}"
            max="{{max_date}}"    
            required>

    <label for="end">End Time:</label>
    <input type="datetime-local" 
            id="end"
            name="end"
            min="min_date"
            max="max_date"
            required>

    <label for="notes">Notes</label>
    <textarea name="notes" id="notes"></textarea>

    <button type="submit">Add Sleep Log</button>
</form>

<h2>Sleep History</h2>
<table>
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>
    {% for log in logs %}
    <tr>
        <td>{{ log.start_time | format_time }}</td>
        <td>{{ log.end_time | format_time }}</td>
        <td>{{ log.duration }}</td>
        <td>{{ log.notes }}</td>
        <td>
            <a href="{{ url_for('edit_sleep', id=log['id']) }}" class="btn-warning btn-sm">Edit</a>

            <form action="{{ url_for('delete_sleep', id=log['id']) }}" method="post" style="display:inline;">
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
